<div class="app">
  <div class="filters">
    <div class="filters__group" *ngFor="let filters of getFilters">
      <div class="filters__group-header">{{ filters.title }}</div>
      <div class="filters__group-body">
        <div class="ui-checkbox__wrapper" *ngFor="let filter of filters.list">
          <div class="ui-checkbox" *ngIf="filter.length">
            <input type="checkbox" [id]="filter.title" [checked]="isChecked(filters.group, filter.title)" (change)="changeFilter(filters.group, filter.title)">
            <label [for]="filter.title">{{ filter.title }} ({{ filter.length }})</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table">
      <div class="table__header">
        <div class="table__cell" (click)="onSortTable('name')">Имя</div>
        <div class="table__cell" (click)="onSortTable('age')">Возраст</div>
        <div class="table__cell" (click)="onSortTable('gender')">Пол</div>
        <div class="table__cell" (click)="onSortTable('department')">Департамент</div>
        <div class="table__cell" (click)="onSortTable('address.city')">Адрес</div>
      </div>
      <div class="table__row" *ngFor="let user of usersView">
        <div class="table__cell">{{user?.name}}</div>
        <div class="table__cell">{{user?.age}}</div>
        <div class="table__cell">{{user?.gender}}</div>
        <div class="table__cell">{{user?.department}}</div>
        <div class="table__cell">{{user?.address.city}}, {{user?.address.street}}</div>
      </div>
    </div>
</div>